* { 
	margin: 0;
	padding: 0;
 }

 body {
 	background-color: white;
 }

 .container01{
 	background-color: red;
 	display: inline-flex;
 }
 .container02 {
 	background-color: royalblue;
 	display:  inline-flex;

 }

li {
 	font-size: xx-large;
 }
